
.galleryMainContainer {
    margin-top: 15%;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.mainPhotoGallery {
    position: absolute;
    left: 5%;
    width: 85%;
    height: 50%;
}

.downloaderPhotoGallery {
    position: relative;
    top: 5%;
    left: 5%;
    width: 85%;
    height: 5vh;
    border: 2px black solid;
}

.thumbnailsPhotoGallery {
    position: relative;
    top: 10%;
    width: 100%;
    height: 15vh;
    border: 2px black solid;
}

.mainImage {
    width: 100%;
}