

.fernUnfurls {
    margin: 0%;
    position: absolute;
    z-index: 1;
    width: 40vh;
    top: 40vh;
    left: 10%;
    opacity: 60%;
    transition: 500ms ease-in-out;
    background: transparent;
}

.fernUnfurls:hover {
    opacity: 90%;
    width: 50vh;
    background: transparent;
    cursor: grab;
}

.interiorImageOne {
    position: absolute;
    z-index: 3;
    width: 20vh;
    top: 40vh;
    left: 10%;
    transition: 500ms ease-in-out;
    background: transparent;
}

.interiorImageOne:hover {
    opacity: 90%;
    width: 50vh;
    background: transparent;
    cursor: grab;
}

.storeContainer {
    width: 86%;
    height: 60vh;
    position: absolute;
    z-index: 2;
    left: 4vh;
    top: 15vh;
    border: 3px black solid;
    border-radius: .5%;
    background: transparent;
}

.secondBackground {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 100%;
}