

.clothingContainer {
    height: 120vh;
    width: 100%;
    background-color: darkolivegreen;
    display: flex;

} 

.landscapeBackground {
    position: absolute;
    z-index: 0;
    height: auto;
    width: 100%;
}

.clickWords {
    position: absolute;
    z-index: 2;
    width: 20vh;
    top: 40vh;
    opacity: 30%;
    transition: 500ms ease-in-out;
    background: transparent;
}

.clickWords:hover {
    opacity: 90%;
    width: 50vh;
    background: transparent;
}

.storeContainer {
    width: 76vh;
    height: 80vh;
    position: absolute;
    z-index: 2;
    left: 4vh;
    top: 15vh;
    border: 1px black solid;
    border-radius: .5%;
    background: transparent;
}

.secondBackground {
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 100%;
}