
.webDevContainer {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.webDevBackground {
    position: absolute;
    z-index: 0;
    height: auto;
    width: 100%;
    top: 10%;
}