.navBarContainer {
    position: absolute;
    z-index: 2;
    margin-left: 3%;
    margin-top: 1%;
    font-family: 'Courier New', Courier, monospace;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.homeButton {
    width: 130px;
}

.clothingButton {
    margin-top: 20px;
    width: 190px; 
}

.webDevButton {
    margin-top: 10px;
    width: 190px;
}

.contactButton {
    margin-top: 20px;
    width: 190px;
}