.mainClothingContainer {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1%;
}

.clothingItemsContainer {
    margin: 2%;
    display: flex;
    width: 20%;
    height: 500px;
    justify-content: space-evenly;
}

.itemOne {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

.itemTwo {
    height: 300px;
    width: 300px;
    color: aliceblue;
    background-color: black;
}

.itemThree {
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
}

.itemFour {
    height: 300px;
    width: 300px;
    background-color: cadetblue;
}

.blueArrow {
    position: absolute;
    height: 1000px;
    width: 1200px;
    /* border: 1px blue dotted; */
    left: 8%;
    top: 50%;
    padding-bottom: 5%;
}

.interiorBlueArrow {
    position: absolute;
    top: 2%;
    right: 2%;
    font-family: monospace;
    font-size: 16px;
}

.imagesBlueArrow {
    position: absolute;
    top: 2%;
    left: 2%;
    height: 1000px;
    width: 1050px;
}

.imageMain {
    border: 1px blue dotted;
    height: 600px;
    width: 980px;
    margin: 3%;
}

.imageSubBank {
    display: inline-flex;
    justify-content: space-around;
    width: 980px;
    height: 300px;
    margin-left: 3%;
}

.subImageA {
    border: 1px blue dotted;
    width: 300px;
    height: 300px;
}