.mainClothingContainer {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1%;
}

.clothingItemsContainer {
    margin: 2%;
    display: flex;
    width: 20%;
    height: 500px;
    justify-content: space-evenly;
}

.itemOne {
    height: 300px;
    width: 300px;
    background-color: aqua;
}

.itemTwo {
    height: 300px;
    width: 300px;
    color: aliceblue;
    background-color: black;
}

.itemThree {
    height: 300px;
    width: 300px;
    background-color: blanchedalmond;
}

.itemFour {
    height: 300px;
    width: 300px;
    background-color: cadetblue;
}