
.webDevContainer {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.webDevBackground {
    position: absolute;
    z-index: 0;
    height: auto;
    width: 100%;
    top: 10%;
}