.contactContainer {
    height: 90vh;
    width: 100%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: aliceblue;
}