.navBarContainer {
    position: absolute;
    z-index: 2;
    margin-left: 3%;
    margin-top: 1%;
    width: 900px;
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.navBarButtons {
    width: 130px;
    background: inherit;
}

.navBarButtons:hover {
    border-bottom: 2px black solid;
    background-color: seashell;
}
