
.eagleBackground {
    position: absolute;
    z-index: 1;
    height: auto;
    width: 100%;
}


.orangeBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25vh;
    height: 5vh;
    position: absolute;
    z-index: 1;
    top: 40vh;
    left: 5vh;
    padding: 2%;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 30%;
    transition: 200ms ease-in-out;
}

.orangeBar:hover {
    transform: translateY(-20%);
    opacity: 90%;
    font-size: 20px;
    height: 45vh;
}

