
.homePageContainer {
    height: 110vh;
    width: 100%;
    background-color: #242424;
}

.eagleBackground {
    position: absolute;
    z-index: 0;
    height: auto;
    width: 100%;
    
}


.orangeBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25vh;
    height: 5vh;
    position: absolute;
    z-index: 1;
    top: 40vh;
    left: 5vh;
    padding: 2%;
    font-size: 10px;
    font-family: "Frijole", system-ui;
    opacity: 30%;
    transition: 200ms ease-in-out;
}

.orangeBar:hover {
    transform: translateY(-20%);
    opacity: 90%;
    font-size: 22px;
  /* background-color: skyblue; */
    height: 45vh;
}

.saleStar {
    width: 25vh;
}